/* common classes  */
.self-style{
    margin:10rem auto;
}
.common-color{
    color: #E76F51;
}

.bg-button, .btn-buy-now{
    background-color: #E76F51;
}


.panda-bg-info{
    background-color: #FEEAE9;
}

/* common classes end  */

.bg-header{
    background-color: #264653;
    padding: 20px 0 95px 0;
}
.width-100{
    width: 102%;
}
.image-text-sec{
    padding: 2rem 0 0 1rem;
}
.bike-collection{
    margin: 2rem 0 0 .7rem;
}
.gray-image{
    filter: grayscale(1);
}
.bg-sixth-main{
    background-color: #e9e9ee;
}
.bg-footer{
    background-color: #0B0D17;
}
/* media quires */

@media screen and (max-width: 768px) {
    .header-image{
        width: 321px;
    }
    .header-image-box{
        width: 360px;
    }
    .header-text{
        width: 321px;
    }
    .faq-image{
        width: 270px;
    }
    
    
}